.name{
	text-align: center;
	font-size: 50px;
	color: orange;
}
body{
	background-color: #141D3A;
}
ul{
	text-align: center;
}
.red{
	font-size: 20px;
	padding-right: 30px;
	color: #272822;
}
.red2{
	font-size: 20px;
	padding-right: 30px;
	color: #272822;
}
.red3{
	font-size: 20px;
	padding-right: 30px;
	color: #272822;
}
.red4{
	font-size: 20px;
	padding-right: 30px;
	color: #272822;
}
.red5{
	font-size: 20px;
	padding-right: 30px;
	color: #272822;
}

li{
	font-size: 20px;
	display: inline;
	margin-right: 50px;
	color: white;
}
.stylediv{
		height: 1px;
		background-color: #CBB190;
		width: 50%;
		margin: auto;
}

.area1{
	height: 350px;
	width: 300px;
	background-color: #CBB190;
	margin: 80px;
}	

.total{
	display: inline-flex;
	color: FF5C99;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	text-align: center;
}

.total p{
	margin-top: 150px;
}

.bottom{
	height: 100px;
	width: 1024px;
	background-color: #CBB190;
	margin: auto;
	text-align: center;
	font-size: 30px;
	color: FF5C99;
	font-family: 'Lobster', cursive;
}

.nivoSlider {
	position:relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;        
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}